.layout {
    height: 100%;
    overflow: hidden;
    width: 100%;

    .content_page {
        margin-left: 178px;
        overflow: hidden;
        padding: 0 15px 5px 15px; 
        min-height: 80vh;
        margin-top: 90px;
        transition: all .2s ease-out;

        &:global(.enlarged) {
            margin-left: 80px;
        }
    }
}