.dropzone {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #cccccc;
    border-style: dashed;
    background-color: #fbfbfb;
    outline: none;
    transition: border .24s ease-in-out;

    &:global(.active) {
        border-color: #2196f3;
    }

    &:global(.reject) {
        border-color: #ff1744;
    }
}

.img_preview {
    width: 100%;    
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbfbfb;
    border: 2px dashed #cccccc;

    img:global(.thumb) {
        max-height: 128px;
        max-width: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}