*, *:before, *:after {
    box-sizing: border-box;
    outline: none;
  }
  $bgColor:#ff;
  $boxColor:#020438;
  $waterFColor:#e22222;
  $waterBColor:#ff5b5b;
  
  body {
    background:$bgColor;
    font: 14px/1 'Open Sans', helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  .box{
    height: 140px;
    width: 140px;
    background: $boxColor;
    overflow: hidden;
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
    float: center;
    margin-top: 50px;
    margin-left: 20px;
    .percent{
      position: absolute;
      left: 0;
      top: 0;
      z-index:3;
      width: 100%;
      height: 100%;
      display: flex;
      display: -webkit-flex;
      align-items:center;
      justify-content:center; 
      color:#fff;
      font-size: 48px;
      transform: rotate(45deg);
    } 
    .water{
      position: absolute;
      left: 0;
      top: 0;
      z-index:2;
      width: 100%;
      height: 100%;
      transform:translate(-20%,20%) rotate(45deg);
      background:$waterFColor;
      transition: all .3s;
      &_wave{
        width: 200%;
        position: absolute;
        bottom: 100%;
        &_back {
          right: 0;
          fill: $waterBColor;
          animation: wave-back 1.4s infinite linear;
        }
        &_front {
          left: 0;
          fill: $waterFColor;
          margin-bottom: -1px;
          animation: wave-front .7s infinite linear;
        }
      }
    }
  }
  @keyframes wave-front {
    100% {
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes wave-back {
    100% {
      transform: translate(50%, 0);
    }
  }