
.searchclear {
    position: absolute;
    right: 20px;
    top: 16px;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.searchclear:hover {
    color: #999;
}

th.withsort:hover{
    cursor: pointer;
}

.iconsort {
    position: absolute;
    right: 5px;
    top: 0px;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.sort_dir_selected{
    color: #555;
    position: absolute;
    right: 5px;
    top: 0px;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
}

table.table-bordered > thead > tr > th{
    border:1px solid blue;
}