.login {
  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.esperancar-logo {
  width: 185px;
  padding: 10px;
}

.login-form {
  width: 60vw;
  height: 55vh;
  margin-left: 25%;
  padding: 8%;
}

.login-page {
  display: flex;
  flex-direction: row;
}

.forgot-password {
  text-decoration: none;
  color: #212529;
  cursor: pointer;
}

.forgot-password:hover {
  color: #212529;
}

#form-2{
  display: none;
}

#forgot-btn span{
  position: absolute;
}

.dot::before{
  size: 10px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;    
  }
}
