.load_ss{
	position:relative;
    height: 100px;
    width: 100px;
    /*padding: 0px 16px;*/
    /*border: 1px solid white;*/
    z-index: 10;
    text-align: center;
}

.load_ss_xs{height: 40px;width: 40px;}
.load_ss_s{height: 90px;width: 90px;}
.load_ss_m{height: 140px;width: 140px;}
.load_ss_l{height: 190px;width: 190px;}
.load_ss_xl{height: 240px;width: 240px;}
.load_ss_xxl{height: 290px;width: 290px;}

.wall{
	position:absolute;
    /*border: 1px solid blue;*/
    height: 10px;
    width: 10px;
}
.wall::before{
	content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    margin-left: -50%;
    animation: animatio 3s forwards infinite;
}

.wall:nth-child(1)::before,.wall:nth-child(6)::before{
	animation-delay: 1s;
}
.wall:nth-child(2)::before,.wall:nth-child(5)::before{
	animation-delay: .5s;
}
.wall:nth-child(3)::before,.wall:nth-child(4)::before{
	animation-delay: 0s;
}

.wall-color1::before{
	background: #a7a9ac;
}
.wall-color2::before{
	background: #d71826;
}
.wall-color3::before{
	background: #f47920;
}


.wall-1{
    height: 20%;
    width: 42%;
    transform: skew(0deg, 20.4deg) rotate(180deg);
    top: 38%;
    left: 8%;
}

.wall-2{
	height: 20%;
    width: 36%;
    transform: skew(0deg, -39.6deg);
    top: 15%;
    left: 8%;
}

.wall-3{
    height: 20%;
    width: 51%;
    transform: skew(0deg, 21.0deg);
    top: 10%;
    left: 43.7%;
}

.wall-4{
    height: 21%;
    width: 37%;
    transform: skew(0deg, 21.0deg);
    top: 42%;
    left: 58%;
}

.wall-5{
    height: 21%;
    width: 37%;
    transform: skew(0deg, -38.6deg) rotate(180deg);
    top: 64%;
    left: 58%;
}

.wall-6{
    height: 21%;
    width: 50.3%;
    transform: skew(0deg, 21.2deg) rotate(180deg);
    top: 69%;
    left: 8%;
}

@keyframes animatio {
  0% {width: 0%;margin-left: -50%;}
  12.5%, 50%{width: 100%;margin-left: -50%;}
  62.5%{width: 0%;margin-left: 50%;}
}

