.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffb8;
    z-index: 99999999;
}

.loadingPage {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}