.dropzone {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #cccccc;
    border-style: dashed;
    background-color: #fbfbfb;
    outline: none;
    transition: border .24s ease-in-out;

    &:global(.active) {
        border-color: #2196f3;
    }

    &:global(.reject) {
        border-color: #ff1744;
    }
}