.login {
  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.logo-trend {
  padding-left: 8%;
  padding-top: 23%;
  width: 250px;
}

.scan-logo {
  width: 250px;
  padding-bottom: 50px;
  margin-left: 25%;
}

.login-form {
  width: 60vw;
  height: 55vh;
  margin-left: 25%;
  padding: 8%;
}

.login-page {
  display: flex;
  flex-direction: row;
}

.forgot-password {
  text-decoration: none;
  color: #212529;
}

.forgot-password:hover {
  color: #212529;
}

/* .login-btn {
    margin-bottom: 13px;
    background-color: #D81F2B;
} */
