$SpaceCadet: #2B2D42;
$Manatee: #8D99AE;
$BlueJeans: #4EA8DE;
$MidnightGreen: #1A535C;
$MediumTuroquoise: #4ECDC4;
$AliceBlue: #EDF2F4;
$NaplesYellow: #FFE66D;
$ImperialRed: #EF233C;
$AmaranthRed: #D90429;
$RubyRed: #A2041C;


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:target,
.btn-primary:default,
.btn-primary:enabled,
.btn-primary:link,
.btn-primary:checked,
.btn-primary:required,
.btn-primary:host,
.btn-primary:visited {
    background-color: $MediumTuroquoise;
    border-color: $MediumTuroquoise;
    border-width: 2px;
    ;
    border-radius: 50px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary:hover {
    background-color: white;
    border-color: $MediumTuroquoise;
    border-width: 2px;
    ;
    border-radius: 50px;
    color: $MediumTuroquoise;
}

.btn-link {
    font-weight: 400;
    color: $ImperialRed;
    text-decoration: none;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: $ImperialRed;
    border-color: $ImperialRed;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: black;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.text-primary {
    color: $ImperialRed !important;
}

.react-datepicker-wrapper {
    width: 100%;
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 2470px;
    }
}

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
//CSS Datatable
@import '~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';

.nav-tabs {
    font-size: 16px;
    font-weight: 600;
}

.tab-content {
    padding: 1rem !important;
}

.card-header {
    color: white;
    background-color: $AmaranthRed;
    font-weight: 600;
}


.card-header button {
    color: white;
    font-weight: 600;
}

.icon-inform {
    font-size: 48px !important;

    &.info {
        color: #4EA8DE
    }

    &.important {
        color: #EF233C;
    }

    &.thank {
        color: #4ECDC4
    }
}

.icon-menu {
    margin-right: 5px;
    vertical-align: middle;
}

.menu-item {
    vertical-align: middle;
}

.font-24 {
    font-size: 24px;
}

.font-16 {
    font-size: 16px;
}

.no-border {
    border: none !important;
}

.dropdown-pagination {
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 35px;
    width: 100%;
}

.react-bootstrap-table-pagination-total {
    margin-top: 10px;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: $RubyRed;
    border-color: $RubyRed;
}

.logo-partner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.btn{
    border-radius: 20px !important;
}