.icon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    :global(.actions) {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        color: #4c4c4c;
        font-size: 18px;
        height: 25px;

        > i {
            transition: all 0.2s linear;
            cursor: pointer;


            &:hover {
                font-size: 22px;
            }
        }
    }

    :global(.icon) {
        width: 65px;
        height: 65px;
        display: inline-block;
        position: relative;
        background: url('/icons/default.png') no-repeat top center;
        background-size: contain;

        &:global(.jpg) {
            background: url('/icons/jpg.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.jpeg) {
            background: url('/icons/jpg.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.bmp) {
            background: url('/icons/bmp.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.doc) {
            background: url('/icons/doc.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.docx) {
            background: url('/icons/docx.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.gif) {
            background: url('/icons/gif.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.html) {
            background: url('/icons/html.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.ods) {
            background: url('/icons/ods.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.odt) {
            background: url('/icons/odt.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.pdf) {
            background: url('/icons/pdf.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.png) {
            background: url('/icons/png.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.ppt) {
            background: url('/icons/ppt.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.pptx) {
            background: url('/icons/pptx.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.rar) {
            background: url('/icons/rar.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.rtf) {
            background: url('/icons/rtf.png') no-repeat top center;
            background-size: contain;
        }
        
        &:global(.txt) {
            background: url('/icons/txt.png') no-repeat top center;
            background-size: contain;
        }
        
        &:global(.xls) {
            background: url('/icons/xls.png') no-repeat top center;
            background-size: contain;
        }
        
        &:global(.xlsx) {
            background: url('/icons/xlsx.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.xml) {
            background: url('/icons/xml.png') no-repeat top center;
            background-size: contain;
        }

        &:global(.zip) {
            background: url('/icons/zip.png') no-repeat top center;
            background-size: contain;
        }
    }
}