.menu {
  width: 174px;
  background: #ffffff;
  bottom: 0;
  padding: 20px 0;
  position: fixed;
  transition: all 0.2s ease-out;
  top: 70px;
  box-shadow: 0 0 35px 0 #9aa1ab87;
  z-index: 100;

  &:global(.enlarged) {
    width: 70px;
    ul {
      :global(.submenu) {
        div:global(.collapse),
        div:global(.collapsing) {
          display: block;
          background: #fbfbfb;
          height: auto;
          transition: unset;
        }
      }

      &:not(:global(.submenu)) {
        margin-top: -15px;

        > li {
          &:hover {
            > a {
              width: calc(190px + 70px);
              color: #ef233c;
              background-color: #f1f5f7;

              > span {
                display: unset;
              }
            }

            > div:global(.collapse),
            > div:global(.collapsing) {
              position: absolute;
              display: block;
              padding-left: 0px;
              background: #fbfbfb;
              width: 190px;
              margin-left: 70px;
              height: auto;
              transition: unset;
            }
          }

          > div:global(.collapse) {
            display: none;
          }

          > a {
            font-size: 1.1rem;

            > span {
              display: none;
              padding-left: 25px;
            }
          }
        }
      }
    }
  }

  ul {
    transition: all 0.2s ease-out;

    :global(.submenu) {
      padding-left: 20px;
    }

    li {
      a {
        display: block;
        padding: 13px 20px;
        color: #6e768e;
        text-decoration: none;
        font-size: 0.95rem;
        transition: all 0.2s ease-out;

        &:focus,
        &:active {
          color: #ffffff;
          background-color: #d90429;
          text-decoration: none;
        }

        &:hover {
          color: #ffffff;
          background-color: #ef233c;
          text-decoration: none;
        }

        i {
          display: inline-block;
          line-height: 1.0625rem;
          margin: 0 10px 0 5px;
          text-align: center;
          width: 20px;
        }
      }
    }
  }

  :global(.collapse),
  :global(.collapsing) {
    padding-left: 10px;
  }
}
