$AmaranthRed: #D90429;

.header {
  background-color: $AmaranthRed;
  color: #fff;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  padding: 0 15px 0 0;
  position: fixed;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 100;

  :global(.nav) {
    justify-content: center;
    align-items: baseline;
    height: 70px;

    :global(.nav-item) {
      align-self: center;

      &:global(.nav-text-white) {
        > a {
          color: #fff;
        }
      }
    }
  }

  :global(.bars) {
    order: none;
    color: #fff;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    border: none;
    outline: 0;
  }

  :global(.logo-box) {
    height: 70px;
    width: 200px;
    float: left;
    transition: all 0.2s ease-out;

    :global(span.logo-lg) {
      display: block;
      background-color: #fff;
      width: 173px;
    }

    :global(span.logo-sm) {
      display: none;
      background-color: #fff;
    }

    a {
      line-height: 70px;
      text-align: center;
    }
  }

  &:global(.enlarged) {
    :global(.logo-box) {
      width: 70px;

      :global(span.logo-lg) {
        display: none;
      }

      :global(span.logo-sm) {
        display: block;
      }

      .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: 100px;
        margin-top: 100px;
      }
    }
  }
}
