.daymonthpicker {
    :global(.react-datepicker-wrapper) {
        width: 100%;
    }

    :global(.react-datepicker__day-names) {
        display: none;
    }

    :global(.react-datepicker__month) {
        margin: 0.4rem;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: baseline;

        :global(.react-datepicker__week) {
            &:first-child {
                align-self: flex-end;
            }

            :global(.react-datepicker__day--outside-month) {
                display: none;
            }
        }
    }
}